:root{
	--mainColor: grey;
	--secondaryColor: lightgrey;
	--borderColor: black;
	--mainText: green;
	--secondaryText: ;

}
html, body{
	padding: 0px;
	margin: 0px;
}


h1, h2, h3, h4, h5, h6{
	color: var(--mainText);
	font-family: 'Comfortaa', cursive;
	font-family: 'Prompt', sans-serif;
}

h1 {font-size: 50px;}

a{
	text-decoration: none;
}

.s1{
	background-color: var(--mainColor);
	border-bottom: 2px solid var(--borderColor);
	overflow: auto;
}

.s2 {
	background-color: var(--secondaryColor);
	border-bottom: 2px solid var(--borderColor);
	overflow: auto;
}

.main-container {
	background-color: white;
	width: 1200px;
	margin: 0 auto;

}

.greeting-area {
	align-content: center;
	justify-content: center;
	min-height: 10em;
	display: grid;

}

.intro-section {
	box-shadow: -18px 10px 40px -11px rgba(0,0,0,0.84);
	-webkit-box-shadow: -18px 10px 40px -11px rgba(0,0,0,0.84);
	-moz-box-shadow: -18px 10px 40px -11px rgba(0,0,0,0.84);
	background-color: var(--secondaryColor);
	border: 1px solid var(--mainColor); 

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 3em 30em;
}

.nav-section {
	background-color: var(--secondaryColor);
	border: 1px solid var(--mainColor);
}
.left-column {
	background-color: var(--secondaryColor);
	border: 1px solid var(--mainColor); 
}

.right-column {
	background-color: var(--secondaryColor);
	border: 1px solid var(--mainColor); 
}


@media screen and (max-width: 1200px){
	.main-container{
		background-color: white;
		width: 95%;
		margin: 0 auto;
	}
}